body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/backgrounds/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbarLeft {
  display: flex;
  flex-direction: row;
}


.hero-section {
  height: 90vh;
  width: 100%;
  background-image: url("./assets/backgrounds/header-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.titleSectionOne {
  color: white;
}

.latest-news {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 0%;
  margin-right: 0%;
}


.eldePic {
  width: 28.9rem;
  height: 22rem;
   
}

.content-news {
    width: 28.9rem; 
  height: 7rem;
  background-color: white;
  color: black;
  margin-top: 0%;
}