body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/backgrounds/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 .navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
   color : white;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.logo a {
  height: auto;
  color: white;
  margin-left: 6rem;
  font-size: 4.5rem;
}




.hero-section {
  height: 60vh;
  width: 100%;
  background-image: url("./assets/backgrounds/header-background.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  border-top: 1px solid rgba(138, 69, 250, 0.2);
  border-bottom: 1px solid rgba(138, 69, 250, 0.2);
}


.titleSectionOne {
  color: white;
 
}

 .latest-news {
  display: flex;
  gap: 1rem;
    margin-left: 2rem;
}

.news-card {
  display: flex;
  flex-direction: column;
}

.eldePic {
    width: 28rem;
  height: 17rem;     
  display: block;
  object-fit: cover;
}

.content-news {
  background: white;
  height: 4rem;
  color: black;
  padding: 1rem;
  text-align: left;
}