body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/backgrounds/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 .navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding: 1rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  color : white;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  margin-right: 2rem;
}

.logo a {
  display: inline-block;
  font-size: 4.5rem;
  margin-left: 6rem;
text-decoration: none;
  background: linear-gradient(
    60deg,
    rgb(255, 19, 243),
    rgb(240, 240, 240),
    rgb(12, 8, 253)
  );
 background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero-section {
  height: 60vh;
  width: 100%;
  background-image: url("./assets/backgrounds/header-background.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
    justify-content: flex-start;
  color: white;
  box-shadow: 0 0 15px rgba(177, 68, 240, 0.8),
              0 0 30px rgb(255, 100, 255);
}


.hero-content {
  font-size: 1rem;
  padding-bottom: 3rem;
   margin-left: 5rem;
    
}

.title-hero{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sentences-hero {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}



.titleSectionOne1 {
  color: white;
  font-size: 2.5rem;
  border-bottom: 1px solid rgb(136, 20, 245);
  padding: 0.5rem;
   margin-left: 2rem;
   margin-right: 2rem;
   
}

 .latest-news {
  display: flex;
  gap: 1rem;
    margin-left: 2rem;  
}

.news-card {
  display: flex;
  flex-direction: column;
}

.eldePic {
    width: 28rem;
  height: 17rem;     
  display: block;
  object-fit: cover;
}

.cyberPic {
    width: 28rem;
  height: 17rem;     
  display: block;
  object-fit: center bottom;
}

.content-news {
      width: 27.5rem;
   background: white;
  height: 5rem;
  color: black;
  display: flex;               
  flex-direction: column;      
  justify-content: flex-start;  
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.content-news h3 {
  margin: 0 0 0.3rem 0;
}

.content-news p {
  margin: 0.2rem 0 0 0;
}
