body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/backgrounds/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 .navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding: 1rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
   color : white;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  margin-right: 2rem;
}

.logo a {
  display: inline-block;
  font-size: 4.5rem;
  margin-left: 6rem;
text-decoration: none;
  background: linear-gradient(
    60deg,
    rgb(255, 19, 243),
    rgb(240, 240, 240),
    rgb(12, 8, 253)
  );
 background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





.hero-section {
  height: 60vh;
  width: 100%;
  background-image: url("./assets/backgrounds/header-background.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
box-shadow: 2px 2px 10px linear-gradient(180deg, rgba(121, 8, 250, 0.959) 0%, rgba(97, 8, 241, 0.993) 100%);
  border-top: 1px solid rgba(93, 6, 233, 0.945);
  border-bottom: 1px solid rgba(105, 15, 248, 0.966);
  
}


.titleSectionOne {
  color: white;
 
}

 .latest-news {
  display: flex;
  gap: 1rem;
    margin-left: 2rem;
}

.news-card {
  display: flex;
  flex-direction: column;
}

.eldePic {
    width: 28rem;
  height: 17rem;     
  display: block;
  object-fit: cover;
}

.content-news {
  background: white;
  height: 4rem;
  color: black;
  padding: 1rem;
  text-align: left;
}